*.local
.env
.env.*
build/
node_modules/
junit/
coverage/
test-logs/
config.json
env.list
manifest.json
sea-prep.blob
tableau-mcp
tableau-mcp.dxt
tableau-mcp.exe
tableau-mcp.mcpb
*.pem
*.tgz
*.tar.gz
*.zip